{% extends "layout.html" %}

{% block heading %} Index {% endblock %}

{% block main %}
<br />
<div class="container">
  <div class="jumbotron">
    ABOUT
  </div>
  <h5>
    I really just wanted a place to put my funny pictures. It's turning out to be more work than anticipated,
    but I think if I could make a nice place to display webapps + pics and whatnot, it'd be good for the future as well.
    The framework is flask right now. Not sure what I'm going to do once I move to other languages, or if there's a way to
    compile the other language for the website as well. I'll see. I just want to make it look nice now. I have some
    ideas for what I want it to look like. Not sure if I'll ever actually give it a domain name and host it either.
    It'd be good to learn how to do that though. eeeeeeee
    </h5>
</div>

{% endblock %}
