{% extends "layout.html" %}

{% block heading %} Index {% endblock %}

{% block main %}
      <br />
      <div class="container">
        <div class="jumbotron">
          <h1>
            My <span class="purple">WebByll</span>
          </h1>
          <img class="shake" src="/static/logo.ico" alt="Logo2" style="width:200px;height:200px;" />
          <p>
            Booyakasha
          </p>
        </div>
        <button class="accordion">Why CRLS Takes</button>
        <div class="panel">
         <p class="padded">Find out more on our "About" page
           <br />
           <button onclick="location.href='/about'" type="button" class="hubber">
             About</button>
         </p>
        </div>

        <button class="accordion">Blogs</button>
        <div class="panel">
         <p class="padded">You can find the blogs right here. right later.
           <br />
           <button onclick="location.href='/blogsG'" type="button" class="hubber">Take me</button>
         </p>
        </div>

        <button class="accordion">Getting Started with an Account</button>
        <div class="panel">
         <p class="padded">New to the site? Get started with a new account by clicking the button below.
           <br />
          <button onclick="location.href='/register'" type="button" class="hubber">
            Register</button>
         </p>
        </div>
        <br />
        <img class="center" src="/static/CRLS1.jpg" alt="Image of CRLS" style="width:1100px;height:850px;" />
      </div>
      <script>
      var acc = document.getElementsByClassName("accordion");
      var i;

      for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var panel = this.nextElementSibling;
          if (panel.style.maxHeight){
            panel.style.maxHeight = null;
          } else {
            panel.style.maxHeight = panel.scrollHeight + "px";
          }
        });
      }
      </script>
{% endblock %}
