{% extends "layout.html" %}

{% block heading %} Index {% endblock %}

{% block main %}
      <br />
      <div class="container">
        <div class="jumbotron">
          <h1>
            My <span class="blue">WebByll</span>
          </h1>
          <img class="shake" src="/static/logo.ico" alt="Logo2" style="width:200px;height:200px;" />
          <p>
            Booyakasha
          </p>
        </div>
        <button class="accordion">What is WebByll?</button>
        <div class="panel">
         <p class="padded">Find out more on the "About" page
           <br />
           <button onclick="location.href='/about'" type="button" class="hubber">
             About</button>
         </p>
        </div>

        <button class="accordion">WebApps</button>
        <div class="panel">
         <p class="padded">Links to some of the newest developments --
           <br />
           <button onclick="location.href='/blogsG'" type="button" class="hubber">Take me</button>
         </p>
        </div>

        <button class="accordion">In other news...</button>
        <div class="panel">
         <p class="padded">Creator's Lyfe
           <br />
          <button onclick="location.href='/register'" type="button" class="hubber">
            Register</button>
         </p>
        </div>
        <br />
      </div>
      <script>
      var acc = document.getElementsByClassName("accordion");
      var i;

      for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var panel = this.nextElementSibling;
          if (panel.style.maxHeight){
            panel.style.maxHeight = null;
          } else {
            panel.style.maxHeight = panel.scrollHeight + "px";
          }
        });
      }
      </script>
{% endblock %}
